
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */

:root {

  /* palette */
  --bot-bar-color: #282828;
  --main-bg: #141922;
  /* text colors */
  --main-text-color: white;
  --secondary-text-color: #a3a3a3;
  /* active border */
  --active-border-color: #92d02b;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .8rem;
  color: var(--secondary-text-color);
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

img.icon {
  height: 1.5rem;
  width: 1.5rem;
  vertical-align: middle;
}

h2, h3 {
  color: var(--main-text-color);
}

h4 {
  color: var(--secondary-text-color);
}

.debug {
  background-color: rgba(0, 0, 255, 0.2);
  border: 1px solid black;
  min-height: 50px;
}

.row {
  width: 100%;
  flex-wrap: wrap;
  padding-right: 15px;
}

.col {
  width: calc(100% / 6);
  padding: 0 0 15px 15px;
}

.row-title {
  padding: 20px 15px;
}

.row-title h4 {
  margin-top: 10px
}

.col .text {
  padding: 10px;
}

/* UTILITIES */

.d-flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.text-center {
  text-align: center;
}




/* main wrapper */

.main-wrapper {
  height: calc(100vh - 90px);
}

/* sidenav */
.sidenav {
  width: 230px;
  height: 100%;
  background-color: black;
  overflow: hidden;
}

.sidenav .logo {
  height: 80px;
  width: 70%;
  padding: 0 10px;
}

.sidenav .logo img:last-child {
  display: none;
}

.sidenav .container {
  height: calc(100% - 80px);
  overflow-y: hidden;
}

.sidenav .menu .option{
  padding: 5px 10px;
  border: 3px solid transparent;
}

.sidenav .menu .option.active {
  border-left: 3px solid #92d02b;
  color: var(--main-text-color);
}

.sidenav .menu .option span:hover {
  cursor: pointer;
  color: var(--main-text-color);
}

.sidenav .menu .option i {
  font-size: 1.5rem;
}

.sidenav .playlist-menu {
  margin-top: 5px;
  padding: 0 10px;
}

.sidenav .playlist-menu i {
  font-size: 2rem;
  vertical-align: middle;
  padding: 10px 5px 10px 0;
}

.sidenav .playlist-menu .list {
  max-height: 230px;
  overflow: scroll;
}

.sidenav .playlist-menu li {
  list-style: none;
  padding: 5px 0;
}

.sidenav .playlist-menu li a {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.sidenav .playlist-menu li a:hover {
  color: var(--main-text-color);
}

.sidenav .cta-user {
  height: 80px;
}

.sidenav .cta {
  margin: 0 5px;
  padding: 5px 0;
  border-bottom: 1px solid var(--secondary-text-color);
}

.sidenav .cta .icon {
  height: 1rem;
  width: 1rem;
}

.sidenav .user img {
  background-color: #a3a3a3;
  border-radius: 50%; 
  margin: 10px;
}


/* main */

.main {
  position: relative;
  width: calc(100% - 230px);
  overflow-y: auto;
}

.main .top-bar {
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.3);
  height: 80px;
  width: calc(100% - 230px);
  position: fixed;
  top: 0;
  z-index: 999;
}

.main .top-bar .btn {
  text-decoration: none;
  color: var(--main-text-color);
  border:1px solid var(--main-text-color);
  border-radius: 30px;
  background-color: transparent;
  font-size: .7rem;
  padding: 10px 30px;
  margin-right: 10px;
}

.main .top-bar .btn:hover {
  font-size: .8rem;
}


.main .main-content {
  padding-top: 80px;
  background-color: var(--main-bg);
}

.main-content .categories {
  justify-content: center;
  flex-wrap: wrap;
}

.main-content .categories ul li {
  list-style: none;
  margin: 15px;
}

.main-content .categories ul li a {
  text-decoration: none;
  color: var(--secondary-text-color);
  text-transform: uppercase;
}

/* bot-bar */
.bot-bar {
  height: 90px;
}

/* RESPONSIVE AREA */

@media all and (max-width:599px) {

  /* sidenav */
  .sidenav {
    width: 50px;
  }
  
  .sidenav .logo {
    width: 100%;
  }

  .sidenav .logo img:last-child {
    display: block;
  }
  
  .sidenav .logo img:first-child {
    display: none;
  }

  .sidenav .menu .option span {
    display: none;
  }

  .sidenav .cta span, .sidenav .user h3, .sidenav .playlist-menu {
    display: none;
  }

  .sidenav .cta {
    border-bottom: none;
  }

  .sidenav .cta .icon {
    height: 1.5rem;
    width: 1.5rem;
    margin-left: 4px;
  }

  .main {
    width: calc(100% - 50px);
  }
  .main .top-bar {
    width: calc(100% - 50px);
  }
}

@media all and (max-width: 1099px) {
  .col {
    width: 25%;
  }
}

@media all and (max-width: 819px) {
  .col {
    width: 50%;
  }
}