
/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERAL */

:root {

  /* palette */
  --bot-bar-color: #282828;
  --main-bg: #141922;
  /* text colors */
  --main-text-color: white;
  --secondary-text-color: #a3a3a3;
  /* active border */
  --active-border-color: #92d02b;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--secondary-text-color);
}

.debug {
  background-color: rgba(0, 0, 255, 0.2);
  border: 1px solid black;
  min-height: 50px;
}

/* UTILITIES */

.d-flex {
  display: flex;
}




/* main wrapper */

.main-wrapper {
  height: calc(100vh - 80px);
}

/* sidenav */
.sidenav {
  width: 250px;
  height: 100%;
  background-color: black;
}

/* main */

.main {
  position: relative;
  width: 100%;
  overflow-y: auto;
}

.main .top-bar {
  height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
}

/* bot-bar */
.bot-bar {
  height: 80px;
}

/* RESPONSIVE AREA */

@media all and (max-width:599px) {
  .sidenav {
    width: 50px;
  }
}